<h1> <%= @place["name"] %>

<h3>Entries coming soon...</h3>

<%  %>
<ul>
  <% for entry in @entries %>
    <li>
      <%= entry["title"] %>
      <%= entry["discription"] %>
      <%= entry["posted_on"] %>
    </li>
  <% end %>
</ul>

<p>
  <a href="/entires/new?places_id=<%= @place["id"] %>">Add New Entries</a>
</p>

<p>
  <a href="/places">Back to All Places List</a>
</p>