<h1> <%= @place["name"] %></h1>

<%  %>
<ul>
  <% for entry in @entries %>
    <li>
      <b><font size="5"><%= entry["title"] %></font></b>
      <br/>
      <%= entry["posted_on"] %>
      <br/>
      <%= entry["description"] %> 
    </li>
    <br/>
  <% end %>
</ul>

<p>
  <a href="/entries/new?place_id=<%= @place["id"] %>">Add New Entries</a>
</p>

<p>
  <a href="/places">Back to All Places List</a>
</p>